body {
  background-color: #f0f0f0;
  color: #333;
}

h1 {
  color: #333;
}

/* Color palete,typography.. */
:root {
  --background: #f5f7f9;
  --card: #ffffff;
  --success: #28a745;
  --danger: #dc3545;
  --text: #4c506b;
  --subtext: #a9acbb;
}
